.expense-form-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
}
.expense-form-control label{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;

}

.expense-form-control select{
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 14px;
}